@charset "utf-8";
/* CSS Document */
body, td, th {
    font: 12px/1.62 Helvetica,Arial,sans-serif;
}
body,h1,h2,h3,h4,div,p,ul,li,ol,em,input, textarea, select, button,font{ margin:0; padding:0;}
li{ list-style:none}
input, textarea, select, button {
    vertical-align: middle;
}
a:link {
    color: #3377AA;
    text-decoration: none;
}
a:visited {
    color: #666699;
    text-decoration: none;
}
a:hover {
    background: none repeat scroll 0 0 #3377AA;
    color: #FFFFFF;
    text-decoration: none;
}
a:active {
    background: none repeat scroll 0 0 #FF9933;
    color: #FFFFFF;
    text-decoration: none;
}

.fl{ float:left;}
.fr{ float:right;}
.clear {
    display: block;
	min-height: 1%;
}
.clear:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.inline-block{ display: inline-block;}
.mt15{ margin-top:15px;}
.wrap,#header,#content,#footer{ width:960px; margin:0 auto;}

#header{ padding-top:25px; text-align: right}
#header .logo{ float:left;}
#header h1.logo{ height:20px; overflow:hidden; margin-bottom:25px;}
#header h1.logo a{ display:block; width:220px; height:20px; line-height:10em; background:url(./logo.png) no-repeat;}
.nav{ width:300px; margin-left:100px;}
.nav li{ float:left; margin-right:20px;}



/* BLOG */
.directory-intro{ padding:10px; background: -moz-linear-gradient(0% 0 270deg, #F9F9F9, #F1F1F1) repeat scroll 0 0 transparent; border: 1px solid #F0F0F0;border-radius: 2px 2px 2px 2px;}
	.directory-intro .blog-link a{ color:#5F88CE;}
	.directory-intro .blog-link a:hover{ color:#333;}
	.blog-thumb img{ padding:8px; border:1px solid #ccc;}
.social-type {
    background: -moz-linear-gradient(0% 0 270deg, #F9F9F9, #F1F1F1) repeat scroll 0 0 transparent;
    border: 1px solid #F0F0F0;
    border-radius: 2px 2px 2px 2px;
    float: left;
    margin: 5px 5px 0 0;
    padding: 17px 0 13px;
    text-align: center;
    text-decoration: none;
    width: 93px;
}
.social-type:hover {
    background: -moz-linear-gradient(0% 0 270deg, #F1F1F1, #F9F9F9) repeat scroll 0 0 transparent;
	text-decoration:none;
}
.social-type p { color: #7A7A7A; font-size: 9px; margin: 0; padding: 0; text-shadow: 1px 1px 0 #FFFFFF; text-transform: uppercase;}
.social-media p.logo{ background:url(sprite.png) no-repeat; display:inline-block; width:16px; height:16px; margin:0 auto 3px;}
.social-media .google p.logo{ background-position: left -50px;}
.social-media .rss p.logo{ background-position: left -100px;}
.social-type p.number {
    color: #3D3D3D;
    font-size: 20px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
/* 用户中心 */
.user-intro{ padding-left:80px; position:relative; margin-bottom:30px;}
.myPic{ position:absolute; margin-left:-80px;}
.user-fav .fr ul{ width:200px;}
.user-fav .fr li{ float:left;}
.user-tongji ul li{ float:left; width:90px; border-right:1px solid #ccc; margin-right:14px;}
.user-tongji ul li a:hover{ text-decoration:none;}
.user-tongji ul li b{ display:block; font-size:16px; color:#333;}
.user-tongji ul li span{ color:#999;}

/* 未开放登陆 */
.start_page h1 {
    color: #68AADB;
    font-size: 30px;
    font-weight: normal;
    line-height: 300%;
    margin: auto;
    padding-top: 0;
    width: 750px;
}
.start_page h2 {
    color: #68879F;
    font-size: 20px;
    font-weight: normal;
}
.start_page form.login {
    background-color: #F2F6F9;
    border: 1px solid #CADBEA;
    border-radius: 20px 20px 20px 20px;
    margin: 0 auto 30px;
    padding: 70px 140px;
    width: 480px;
}
.start_page .register_title {
    padding-top: 0;
}
.start_page label {
    color: gray;
}
.start_page .nick_box, .start_page .email_box, .start_page .password_box {
    background: none repeat scroll 0 0 white;
    border: 1px solid #CADBEA;
    border-radius: 8px 8px 8px 8px;
    font-size: 20px;
    height: 45px;
    line-height: 45px;
    padding: 5px 0 5px 20px;
    width: 500px;
}
.start_page .nick_box input, .start_page .email_box input, .start_page .password_box input {
    border: 0 none;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    width: 360px;
}
.start_page .submit_box input {
    border: 0 none;
    cursor: pointer;
    display: block;
    height: 44px;
    margin: auto;
    width: 180px;
}
.start_page .login .submit_box input {
    background: url("login_submit.gif") repeat scroll 0 0 transparent;
    text-indent: -9999px;
}

.start_page .error {
    color: red;
    line-height: 45px;
    padding-left: 8px;
}

/*  */
.tip-renew{ font-size:13px;}
.tip-renew em{ font-style:normal; font-size:18px; font-weight:bold; color:#F00;}

.file_links label{ display:none;}
.file_links .bt{ text-align:right; height:30px; line-height:30px; border:1px solid #eee; border-bottom:#f9f9f9; background:#f9f9f9; padding:0 15px;}
.file_links .bt .btleft{ float:left;}
.file_links .bt .btleft h3{ font-size:16px; padding-right:10px;}
.file_links .bt .btleft a{ line-height:12px;}
.file_links .box{padding:25px 0; text-align:center; border:1px solid #eee;}
.file_links .box font{ line-height:33px; font-size:18px; padding-top:15px;}

.enter{ background: #EBF8F9; padding:20px 25px;margin: 0 0 20px;}
.input{background: #FFFFFF; border: 1px solid #94C6E1; color: #22AC38; font-weight: bold; padding: 5px; height:21px;}
.bn-submit{ background: none repeat scroll 0 0 #3BA354; border: 0 none; border-radius: 2px 2px 2px 2px; color: #FFFFFF; cursor: pointer; font-size: 13px; height: 33px; padding: 0 24px; margin-right: 3px; vertical-align: middle;}
.bn-submit:hover { background-color: #1C9439;}

.tips{ color:#999; margin-top:25px; background:#F9F9F9; padding: 20px 25px;}
.tips h4{ color:#007722;  font-size:14px; padding-bottom:15px; font-weight:normal;}
.tips .example p{ margin-bottom:10px;}
.tips .example b{ color:#333; padding-right:10px;}

#footer { border-top: 1px dashed #DDDDDD; color: #999999; padding-top: 6px; margin-top:30px;	text-align:right;}
#footer .gray-link{ float:left;}

/* 登陆注册 */
.zhanghao{border-top:5px solid #EBF8F9; padding-top:25px;}
.zhanghao h1{ padding-bottom:25px;}
.zhanghao .item{ margin-bottom:15px;}


#content .main{ width:750px; float:right;}

#content .sidebar{ width:180px; padding-right:10px; margin-right:9px; border-right:1px solid #EBF8F9; float:left;}